@model MyAspNetCoreWebPageNet.Models.Adress

@{
    ViewData["Title"] = "Single";
}



<table class="table">
    <thead>
        <tr>
            <th a>
                
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
